<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div class="card-center" style="width: 50  rem;">
    <h5 class="card-header">Iniciar sesión</h5>
    <div class="card-body text center">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group col-md-6">
                        <label for="Correo electronico"> Correo Electronico</label>
                        <input formControlName="correo" required pattern="email" type="email" class="form-control" id="Correo electronico" aria-describedby="Correo electronico">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label form="contrasenia" for="Contraseña">Contraseña</label>
                        <input formControlName="contrasenia" type="password" class="form-control" required id="exampleInputPassword1">

                    </div>
                    <div class="form-group form-check col-md-6">
                        <input type="checkbox" class="form-check-input" id="checkRecordar">
                        <label class="form-check-label" for="checkRecordar">Recordar nombre de usuario </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>

                    <small id="textiniciar" class="form-text text-muted">¿No tienes cuenta?</small>

                    <button class="btn btn-outline-success" type="button" [routerLink]="['registro']">Registrarse</button>
                </div>
                <div class="form-group col-md-6 ">
                </div>
            </div>
        </form>
    </div>
</div>