<div class="card-center" style="width: 50  rem;">
    <h5 class="card-header">Iniciar sesión</h5>
    <div class="card-body text center">
        <form>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="user.nombre">

                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="user.apellido">

                </div>

                <div class="form-group">
                    <label>Correo electronico</label>
                    <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="user.correo">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
                </div>

                <button type="submit" class="btn btn-primary" (click)="saveNew()">REGISTRARME</button>

            </div>

        </form>
    </div>
</div>